*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(16, 23, 24);
    display: flex;
}
.img {
    width: 200px;
    height: 50px;
    display: flex;
  align-items: center;
  flex: 0.7;
  margin-left: 150px;
  cursor: pointer;
  user-select: none;
}
.img > img {
    border-radius: 50px;
    height: 40px;
}
.img > h3{
    padding: 0px 10px;
    color: #fff;

}
.ul__collection{
    position: relative;
    display: flex;
    align-items: center;
    
}

.ul__collection > li{
    padding: 0px 50px;
}
.ul__collection> li > a {
    color: #fff;
}
.ul__collection > li >a:hover{
 color: cadetblue;
}
